<html>

<head>
  <style type="text/css">
  </style>
</head>

<body>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Method</th>
          <th>Descriptions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/api/books</td>
          <td>GET</td>
          <td>Get all books in database</td>
        </tr>
        <tr>
          <td>/api/books</td>
          <td>POST</td>
          <td>Create new book in database</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>